[Unit]
Description=HeWo Face node
Requires=xhost.service

[Service]
Type=simple
EnvironmentFile=/home/__USER__/HeWo/scripts/hewo_cli.sh
WorkingDirectory=/home/__USER__
ExecStart=/bin/bash -c 'hewo run face'
User=__USER__

[Install]
WantedBy=default.target
