[Unit]
Description=HeWo Wi-Fi Hotspot Manager
After=network.target

[Service]
Type=oneshot
ExecStart=/home/daiego/HeWo/modules/network/wifi_manager.sh
RemainAfterExit=true

[Install]
WantedBy=default.target
